{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parser": "babel-eslint",
    "plugins": [
        "import",
        "react",
        "class-property"
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "no-console": "warn",
        "no-control-regex": "warn",
        "no-irregular-whitespace": "warn",
        "no-regex-spaces": "warn",
        "no-unexpected-multiline": "off",

        "array-callback-return": "error",
        "block-scoped-var": "error",
        "class-methods-use-this": "error",
        "curly": "error",
        "default-case": "error",
        "dot-location": ["error", "property"],
        "dot-notation": "warn",
        "eqeqeq": "error",
        "max-classes-per-file": "warn",
        "no-alert": "error",
        "no-else-return": "error",
        "no-empty-pattern": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-floating-decimal": "error",
        "no-lone-blocks": "error",
        "no-multi-spaces": "error",
        "no-return-assign": "error",
        "no-self-compare": "error",
        "no-useless-concat": "error",
        "no-useless-return": "error",
        "require-await": "error",
        "yoda": "error",

        "no-shadow": "warn",
        "no-undefined": "error",
        "no-unused-vars": ["error", { "ignoreRestSiblings": true }],

        "array-bracket-newline": ["error", {"multiline": true}],
        "array-element-newline": ["error", "consistent"],
        "brace-style": "error",
        "camelcase": "warn",
        "comma-dangle": "error",
        "comma-spacing": "error",
        "comma-style": "error",
        "computed-property-spacing": "error",
        "eol-last": "error",
        "func-call-spacing": "error",
        "function-paren-newline": "error",
        "id-length": "error",
        "indent": "error",
        "jsx-quotes": "error",
        "key-spacing": "error",
        "keyword-spacing": "error",
        "lines-between-class-members": "error",
        "max-len": ["error", {
            "code": 150,
            "tabWidth": 4,
            "ignoreComments": true,
            "ignoreTrailingComments": true,
            "ignoreUrls": true,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true,
            "ignoreRegExpLiterals": true
        }],
        "max-statements-per-line": "error",
        "no-lonely-if": "error",
        "no-mixed-operators": "error",
        "no-multi-assign": "error",
        "no-multiple-empty-lines": "error",
        "no-negated-condition": "error",
        "no-nested-ternary": "error",
        "no-plusplus": ["error", {"allowForLoopAfterthoughts": true}],
        "no-trailing-spaces": "error",
        "no-unneeded-ternary": "error",
        "no-whitespace-before-property": "error",
        "object-curly-newline": "error",
        "operator-linebreak": ["error", "after"],
        "padding-line-between-statements": [
            "error",
            { "blankLine": "always", "prev": "*", "next": "return" },
            { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
            { "blankLine": "always", "prev": "*", "next": ["const", "let", "var"]},
            { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"]}
        ],
        "quotes": [ "error", "single", {
            "avoidEscape": true,
            "allowTemplateLiterals": true
        }],
        "semi": "error",
        "semi-spacing": ["error", {"before": false, "after": true}],
        "semi-style": "error",
        "space-before-blocks": "error",
        "spaced-comment": "error",
        "switch-colon-spacing": "error",

        "arrow-parens": "error",
        "arrow-spacing": "error",
        "constructor-super": "error",
        "no-const-assign": "error",
        "no-duplicate-imports": "error",
        "no-useless-computed-key": "error",
        "no-useless-constructor": "error",
        "no-useless-rename": "error",
        "no-var": "error",
        "object-shorthand": "error",
        "prefer-const": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "prefer-template": "error",
        "rest-spread-spacing": "error",
        "symbol-description": "error",
        "template-curly-spacing": "error",

        "import/no-unresolved": "error",
        "import/no-dynamic-require": "error",
        "import/no-webpack-loader-syntax": "error",
        "import/no-self-import": "error",
        "import/export": "error",
        "import/first": "error",
        "import/exports-last":"warn",
        "import/no-duplicates":"error",
        "import/order": "error",
        "import/newline-after-import": "error",

        "react/display-name": "off",
        "react/jsx-no-target-black": "off",
        "react/forbid-prop-types": [ "off", {
            "forbid": ["any", "object", "array"],
            "ignore": ["theme", "className"]
        }],
        "react/no-array-index-key": "error",
        "react/no-typos": "error",
        "react/no-unused-prop-types": "error",
        "react/no-unused-state": "error",
        "react/require-default-props": "warn",
        "react/prop-types": ["error", { "ignore": ["theme"] }],
        "react/self-closing-comp": ["error", { "component": true, "html": true }],
        "react/sort-comp": ["off", {
            "order": [
                "static-methods",
                "lifecycle",
                "render",
                "everything-else"
            ],
            "groups": {
                "lifecycle": [
                    "displayName",
                    "propTypes",
                    "contextTypes",
                    "childContextTypes",
                    "mixins",
                    "statics",
                    "defaultProps",
                    "constructor",
                    "getDefaultProps",
                    "getInitialState",
                    "state",
                    "getChildContext",
                    "componentWillMount",
                    "componentDidMount",
                    "componentWillReceiveProps",
                    "shouldComponentUpdate",
                    "componentWillUpdate",
                    "componentDidUpdate",
                    "componentWillUnmount"
                ]
            }
        }],
        "react/style-prop-object": "error",
        "react/jsx-boolean-value": "error",
        "react/jsx-closing-bracket-location": ["error",  {
            "nonEmpty": "tag-aligned",
            "selfClosing": "tag-aligned"
        }],
        "react/jsx-curly-spacing": "error",
        "react/jsx-equals-spacing": "error",
        "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-no-bind": ["error", {
            "ignoreRefs": true,
            "allowArrowFunctions": true
        }],
        "react/jsx-pascal-case": "error",
        "react/jsx-tag-spacing": "error",
        "react/jsx-wrap-multilines": "error",

        "class-property/class-property-semicolon": "error"
    }
}
