:local .col {
    .header {
        flex: 0 0 50px;
        border-bottom: 1px solid #c4c4c4;

        &.new {
            background-color: #e5e858
        }

        &.processed {
            background-color: #ef5858;
        }

        &.finished {
            background-color: #65ee56;
        }

        .title {
            font-size: 18px;
            font-weight: bold;
            line-height: 20px;
            text-transform: uppercase;
        }
    }

    .content {
        align-content: flex-start;
    }

    .task {
        margin: 5px 5px 0 0;
    }
}